body{
    margin: 15px;
}
.navbar-nav .nav-link{
    align-items: flex-end;
    font-size: 25px;
}

#topbar{
    margin-left: 0.5px;
    margin-right: 0.5px;
}

.navbar navbar-expand-lg navbar-light bg-light{
    
}

.bg-light{
    background-color: #9ebddc!important;
}